body {
  font-size: 12px;
  color: black;
  background-color:white;
}
#header-nav{
  background-color: skyblue;
  border-radius: 0;
  border:2px solid black;
}
.navbar-brand h1{
  line-height: .75;
  margin-top: 0;
  margin-bottom: 0px;
}
p{
  background-color:silver;
  padding: 30px;
  margin:10px;  
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #b1abab;
}
#nav-list a span {
  font-size: 1.8em;
}
@media (min-width: 768px){
  #nav-list{
    display:none;
  }
